@import 'antd/dist/reset.css';
@import 'bootstrap/dist/css/bootstrap-reboot.css';
@import './cell.scss';

.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
form {
  input {
    width: 50px;
    margin-inline: 5px;
  }
  label {
    margin-inline-start: 5px;
  }
  button {
    margin-inline-start: 15px;
  }
}

.game-container {
  display: grid;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  grid-template-columns: repeat(var(--cols), auto); /* Change 3 to your desired number of columns */
  grid-template-rows: repeat(var(--rows), auto); /* Change 4 to your desired number of rows */

  padding: 20px;
}

.user1 {
  background-color: rgb(97, 97, 226);
}
.user2 {
  background-color: rgb(237, 116, 116);
}
